PROVIDER_URL=https://rpc-mumbai.maticvigil.com/v1/258e87c299409a354a268f96a06f9e6ae7ab8cea
CHAIN_ID=80001
BLOCK_EXPLORER_BASE_URL="https://mumbai.polygonscan.com"
CLIENT=<WALLET_KEY>
CONTRIBUTOR=<WALLET_KEY>