node_modules
build
package-lock.json
.mnemonic
*.swp
.wallets
cache
cache/
yarn-error.log
nohup.out

mcore*/

**/artifacts
**/.deps
.env
.env.mumbai
.env.polygon
.env.docker
.DS_Store
.openzeppelin/unknown-31337.json