version: 2.1
orbs:
  node: circleci/node@4.7.0
jobs:
  build:
    docker:
      - image: cimg/node:16.8.0
    steps:
      - checkout
      - run: node --version
      - run: curl -o- -L https://yarnpkg.com/install.sh | bash
      - run: yarn -v
      - run: yarn
  test:
    docker:
      - image: cimg/python:3.11.2
    steps:
      - checkout
      - run: pip3 install slither-analyzer
      - run: pwd
      - run: ls -la
      - run: apt-get update
      - run: slither --exclude-dependencies .
workflows:
  version: 2
  build:
    jobs:
      - build:
          context: OpenQ
          filters:
            branches:
              ignore: /.*/
            tags:
              only:
                - /^development.*/
                - /^staging.*/
                - /^production.*/
  test:
    jobs:
      - test:
          context: OpenQ
          filters:
            branches:
              ignore: /.*/
            tags:
              only:
                - /^development.*/
                - /^staging.*/
                - /^production.*/
