$theme-colors: ("primary": #0366d6)
$box-shadow-sm: 0 .125rem .3rem rgba(black, .25) !default

@import "../../node_modules/bootstrap/scss/bootstrap"
@import "./tooltips"
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap')

body
  background: rgb(84,98,112)
  background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(0,0,0,0.2) 100%)
  background-attachment: fixed
  background-repeat: no-repeat
  min-height: 100vh
  font-family: 'Raleway', sans-serif

.btn
  border: none

.card
  border-radius: 1rem

a:hover
  text-decoration: none

.fade-enter-active,
.fade-leave-active
  transition: opacity .15s

.fade-enter,
.fade-leave-to
  opacity: 0

.main
  height: 100vh

.text-muted-light
  color: #ccc !important

.badge-merged
  background: #6f42c1
  color: white

.help-icon
  opacity: 0.6
  cursor: pointer
.amount-input
  position: relative
  span
    font-size: 1.5rem
    position: absolute
    z-index: 3
    right: 50px
    top: 6px
    opacity: 0.4

.embed
  background: #f8f8f8
  position: relative
  z-index: 1
  margin-top: -10px
  .badge
    font-weight: normal

.form-control-with-embed
  position: relative
  z-index: 2
